body {
	margin: 2px;
}

#open_menu {
	padding-top: 4px;
	font-size: 16pt;
}
#menu {
	width: 200px;
	height: 100%;
}
#menu button {
	font-size: 16pt;
	width: 100%;
}
#close_menu {
	width: auto !important;
}

#board_name {
	font-weight: bold;
	font-size: 18pt;
}
#board {
	border: 1px solid black;
	width: 800px;
	height: 510px;
}
#mask {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}
#mask div {
	display: none;
}
.dialog {
	background-color: white;
	width: 30%;
	min-width: 400px;
	margin:10% auto 0 auto;
	border-radius: 10px;
	padding: 5px;
}
textarea {
	width: 95%;
	height: 300px;
}

.nice_buttons {
	margin-right: 50px;
	float: right;
}
.nice_button {
	font-size: 16pt;
	font-family: Universalia;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 10px;
	width: 37px;
	display: inline-block;
	margin-bottom: 2px;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ddd;
}
.nice_button.selected, .nice_button.checked {
	background: #888;
}
