#board_name {
	font-weight: bold;
	font-size: 18pt;
}
#board {
	border: 1px solid black;
	width: 800px;
	height: 510px;
}
#mask {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
}
.dialog {
	background-color: white;
	width: 30%;
	min-width: 400px;
	margin:10% auto 0 auto;
	border-radius: 10px;
	padding: 5px;
}
textarea {
	width: 95%;
	height: 300px;
}

.mode_button {
	font-size: 24pt;
	border: 1px solid black;
	border-radius: 10px;
	width: 37px;
	display: inline-block;
	margin: 0px;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #ddd;
}

.mode_button.selected {
	background: #888;
}
